<?xml version="1.0" encoding="utf-8"?>

<!--
~ Copyright (C) 2014 Disrupted Systems
~
~ This file is part of Rumble.
~
~ Rumble is free software: you can redistribute it and/or modify
~ it under the terms of the GNU General Public License as published by
~ the Free Software Foundation, either version 3 of the License, or
~ (at your option) any later version.
~
~ Rumble is distributed in the hope that it will be useful,
~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~ GNU General Public License for more details.
~
~ You should have received a copy of the GNU General Public License
~ along with Rumble.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.disrupted.rumble" >

    <!--
      ~ Permission for networking related operation
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:required="true"
        android:name="android.permission.BLUETOOTH"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!--
      ~ Actually we don't need to access the Internet but this permission is required
      ~ to play with the WiFi !
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>
    <!--
      ~ Permission to store file attached to status sent by neighborhing devices
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
      ~ Permission obviously to take picture :)
      -->
    <uses-feature
        android:required="false"
        android:name="android.hardware.camera" />
    <!--
      ~ Permission related to the bluetooth scanning strategy
      ~ The accelerometer is used to detect wether the phone is moving or not
      ~ this is to avoid draining battery on scanning when phone is standing still
      -->
    <uses-feature
        android:required="false"
        android:name="android.hardware.sensor.accelerometer"/>


    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.RumbleApplication"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".RoutingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|adjustResize|stateHidden"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".userinterface.activity.Settings">
        </activity>

        <activity
            android:name=".userinterface.activity.PopupCompose"
            android:theme="@style/PopupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible"/>
        <activity
            android:name=".userinterface.activity.PopupCreateGroup"
            android:theme="@style/PopupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible"/>

        <activity
            android:name=".LoginScreen">
        </activity>

        <service android:name=".network.NetworkCoordinator">
        </service>
    </application>


</manifest>
