<?xml version="1.0" encoding="utf-8"?>

<!--
~ Copyright (C) 2014 Disrupted Systems
~
~ This file is part of Rumble.
~
~ Rumble is free software: you can redistribute it and/or modify
~ it under the terms of the GNU General Public License as published by
~ the Free Software Foundation, either version 3 of the License, or
~ (at your option) any later version.
~
~ Rumble is distributed in the hope that it will be useful,
~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~ GNU General Public License for more details.
~
~ You should have received a copy of the GNU General Public License
~ along with Rumble.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.disrupted.rumble" >

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature
        android:required="true"
        android:name="android.hardware.camera" />
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!--
      ~ Actually we don't need to access the Internet but this permission is required
      ~ to play with the WiFi !
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
                android:enabled="true"
                android:name=".network.NetworkCoordinator"/>
    </application>


</manifest>
