<?xml version="1.0" encoding="utf-8"?>

<!--
~ Copyright (C) 2014 Lucien Loiseau
~
~ This file is part of Rumble.
~
~ Rumble is free software: you can redistribute it and/or modify
~ it under the terms of the GNU General Public License as published by
~ the Free Software Foundation, either version 3 of the License, or
~ (at your option) any later version.
~
~ Rumble is distributed in the hope that it will be useful,
~ but WITHOUT ANY WARRANTY; without even the implied warranty of
~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
~ GNU General Public License for more details.
~
~ You should have received a copy of the GNU General Public License
~ along with Rumble.  If not, see <http://www.gnu.org/licenses/>.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.disrupted.rumble">

    <!--
      ~ Permission for networking related operation
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission
        android:required="true"
        android:name="android.permission.BLUETOOTH"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission
        android:required="true"
        android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <!--
      ~ Actually we don't need to access the Internet but this permission is required
      ~ to play with the WiFi !
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.INTERNET"/>
    <!--
      ~ Permission to store file attached to status sent by neighborhing devices
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--
       ~ Permission to attached an image from the library
      -->
    <uses-permission
        android:required="true"
        android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--
      ~ Permission to take picture
      -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature
        android:required="false"
        android:name="android.hardware.camera" />
    <uses-feature
        android:required="false"
        android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:required="false"
        android:name="android.hardware.camera.flash" />
    <!--
      ~ Permission related to the bluetooth scanning strategy
      ~ The accelerometer is used to detect wether the phone is moving or not
      ~ this is to avoid draining battery on scanning when phone is standing still
      -->
    <uses-feature
        android:required="false"
        android:name="android.hardware.sensor.accelerometer"/>

    <!--Permission to vibrate the device on incoming events -->
    <uses-permission
        android:required="false"
        android:name="android.permission.VIBRATE"/>

    <!--Permission to boot on startup if enabled in the settings -->
    <uses-permission
        android:required="false"
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />


    <application
        android:icon="@drawable/ic_launcher_rumble"
        android:label="@string/app_name"
        android:name=".app.RumbleApplication"
        android:theme="@style/Theme.AppCompat" >

        <activity
            android:name=".userinterface.activity.LoginScreen">
        </activity>

        <activity
            android:name=".userinterface.activity.RoutingActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userinterface.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".userinterface.activity.GroupListActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".userinterface.activity.GroupDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".userinterface.activity.ContactListActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".userinterface.activity.ContactDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".userinterface.activity.HashtagListActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".userinterface.activity.HashtagDetailActivity"
            android:screenOrientation="portrait"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>

        <activity
            android:name=".userinterface.activity.PopupComposeStatus"
            android:screenOrientation="portrait"
            android:theme="@style/PopupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible"/>

        <activity
            android:name=".userinterface.activity.PopupCreateGroup"
            android:screenOrientation="portrait"
            android:theme="@style/PopupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible"/>

        <activity
            android:name=".userinterface.activity.PopupInputGroupKey"
            android:screenOrientation="portrait"
            android:theme="@style/PopupActivity"
            android:windowSoftInputMode="adjustPan|adjustResize|stateVisible"/>

        <activity
            android:name=".userinterface.activity.DisplayQRCode"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="org.disrupted.rumble.userinterface.activity.DisplayQRCode" />
            </intent-filter>
        </activity>

        <activity android:name=".userinterface.activity.DisplayImage">
            <intent-filter>
                <action android:name="org.disrupted.rumble.userinterface.activity.DisplayImage" />
            </intent-filter>
        </activity>

        <activity
            android:name=".userinterface.activity.DisplayStatusActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="org.disrupted.rumble.userinterface.activity.DisplayStatusActivity"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".userinterface.activity.SettingsActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userinterface.activity.settings.LicenceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userinterface.activity.settings.StatisticActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userinterface.activity.settings.MiscellaneousActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userinterface.activity.settings.DebugActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userinterface.activity.settings.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".userinterface.activity.settings.StorageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="info.vividcode.android.zxing.CaptureActivity"
            android:theme="@style/Theme.ZXingCaptureActivity"
            android:screenOrientation="landscape">
        </activity>

        <service android:name=".network.NetworkCoordinator">
        </service>

        <receiver
            android:name=".app.StartOnBoot"
            android:label="StartOnBoot">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>


</manifest>
